<div class="row">
	<%= render'layouts/sidebar' %>

	<div class="col-sm-9">
	<!-- プロフィールテンプレート -->
	<%= render'layouts/profile',user:@user%>
	<%= render'layouts/timeline',diaries:@diaries%>
	</div>
</div>