<div class="row top">
	<div class="col-12 text-center align-self-center title
	" style="background-color:#DAA25A;">
   <h1 class="text-white font-italic">Live Diary</h1>
   <h4 class="text-white">その感動を忘れないために</h4>
	</div>

	<div class="col-12">
		<div class="contain">
			<%= link_to "Login", new_user_session_path, :class => 'login_button'  %>
		</div>
	</div>
</div>
<div class="row main bg-white">
	<div class="col-12">
		<div class="about">
		  <h1 class="about-main">Live Diaryとは</h1>
		  <h4 class="about-text">ライブに行ったその思い出をSNSで投稿できるサービスです。<br>
		  	セットリストやライブの感想を分だけの日記として楽しむだけではなく、友達と共有したり
		  </h4>
		</div>
	</div>
</div>