<div class="row top">
	<div class="col-12 text-center align-self-center title
	" style="background-color:#DAA25A;">
   <h1 class="text-white font-italic">Live Diary</h1>
   <h4 class="text-white">その感動を忘れないために</h4>
	</div>

	<div class="col-12">
		<div class="contain">
			<%= link_to "Login", new_user_session_path, :class => 'login_button'  %>
		</div>
	</div>
</div>
<div class="row main bg-white">
	<div class="col-12">
		<div class="about">
		  <h1 class="about-main">Live Diaryとは</h1>
		  <h4 class="about-text">
			  	Live Diaryはライブ専用の投稿ができるSNSサービスです。<br>
			  	セットリストやライブの感想を分だけの日記として楽しむだけではなく<br>
			  	友達と共有したり、同じライブに行った仲間の投稿を見ることができたりと<br>
	　　　　 その人に合った楽しみ方で利用していただけますと幸いです。<br>
					ライブををもっと好きになるために、大切な思い出を忘れないために<br>
					Live Diaryを作成しました。
		  </h4>
		  <div class="wrapper">
		  	<%= link_to "今すぐ始める！", new_user_registration_path, :class => 'button-signup'  %>
			</div>
		</div>
	</div>
</div>